<svg xmlns="http://www.w3.org/2000/svg" width="24.042" height="24.042" viewBox="0 0 24.042 24.042">
    <g id="Group_1" data-name="Group 1" transform="translate(-898.979 -147.979)">
      <rect id="Rectangle_3" data-name="Rectangle 3" width="30" height="4" rx="2" transform="translate(898.979 169.192) rotate(-45)" fill="#353535"/>
      <rect id="Rectangle_4" data-name="Rectangle 4" width="30" height="4" rx="2" transform="translate(901.808 147.979) rotate(45)" fill="#353535"/>
    </g>
</svg>
  

<style>
    svg {
        height: 12px;
        width: 12px;
    }
</style>