<div class="app__output">
    {#each $outputs as output}
    <p>{output}</p>
    {/each}
</div>

<style>
.app__output {
    width: 50%;
    font-size: 0.8rem;
    font-weight: 900;
    letter-spacing: 1px;
    color: var(--result-text-color);
    text-align: right;
    width: 100%;
    border-left: 1px solid #e3e3e3;
    line-height: 1.1875rem;
}
.app__output p {
    margin: 0;
    font-weight: 900;
    cursor: pointer;
    height: 1.1875rem;
}
</style>

<script>
import { AppStore } from './App.store';

export default {
    store: () => AppStore,
}
</script>
