<svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" viewBox="0 0 24 20">
    <g id="menu" transform="translate(-737 -150)">
        <rect id="Rectangle_5" data-name="Rectangle 5" width="20" height="4" rx="2" transform="translate(737 158)" fill="#353535"/>
        <rect id="Rectangle_6" data-name="Rectangle 6" width="24" height="4" rx="2" transform="translate(737 166)" fill="#353535"/>
        <rect id="Rectangle_7" data-name="Rectangle 7" width="24" height="4" rx="2" transform="translate(737 150)" fill="#353535"/>
    </g>
</svg>

<style>
    svg {
        height: 12px;
        width: 12px;
    }
</style>